<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>YAWA</title>
  </head>
  <body>
    <header>Yet Another Weather App</header>
    <div class="content">
      <div class="left-panel">
        <div class="current-container">
          <p>Jakarta</p>
          <p>12:41</p>
          <p>Monday</p>
          <p>26 February 2024</p>
        </div>
        <div class="weather-container">
          <p>Moderate Rain</p>
          <p class="material-symbols-outlined">rainy</p>
          <p>26 C</p>
        </div>
      </div>
      <div class="right-panel">
        <div class="data-container">
          <p class="material-symbols-outlined">rainy</p>
          <div>
            <p>Feels like</p>
            <p>28 C</p>
          </div>
        </div>
        <div class="data-container">
          <p class="material-symbols-outlined">rainy</p>
          <div>
            <p>Feels like</p>
            <p>28 C</p>
          </div>
        </div>
        <div class="data-container">
          <p class="material-symbols-outlined">rainy</p>
          <div>
            <p>Feels like</p>
            <p>28 C</p>
          </div>
        </div>
        <div class="data-container">
          <p class="material-symbols-outlined">rainy</p>
          <div>
            <p>Feels like</p>
            <p>28 C</p>
          </div>
        </div>
      </div>
      <div class="bottom-panel"></div>
    </div>
    <footer>Copyright fahryanputra 2024</footer>
  </body>
</html>
